# exec udiskie
udiskie --no-automount --no-notify --tray &

# locker
light-locker &

# wifi tray module
nm-applet &

blueman-applet &

~/.fehbg &

# pulse audio systray
pasystray &
#
# # autodetect monitors
# exec mons -a &

# hide mouse cursor when not typing
exec unclutter &
