# exec udiskie
udiskie --no-automount --no-notify --tray &

# locker
light-locker &

# wifi tray module
nm-applet &

blueman-applet &

~/.fehbg &

pasystray &

# hide mouse cursor when not typing
exec unclutter &

# autodetect monitors
exec mons -a &
